*{
    box-sizing:border-box;
}
body{
    padding: 1rem;
    position: relative;
}

ul {
    padding: 0;
    list-style: none;
}

.hide{
    display: none;
}

#popup{
    position: absolute;
    top:45%;
    left: 30vw;
    z-index:5;
    background-color: rgba(46, 204, 113, 1);
    color: rgb(255,255,255);
    padding: 3rem;
    font-size: 2rem;
}

/* .dashboard-2 #listsOfRecipients{
    max-width: 350px;
}
#dashboard .all-recipients{
    max-width: 400px;
} */

.all-recipients{
    overflow-y: scroll;
    height: 400px;
    padding: 0 1rem;
}
#allCompaigns{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
}

.dashboard-2 #listsOfRecipients i,.fa-trash{
    cursor: pointer;
} 
.dashboard-2 #listsOfRecipients i:hover::after {
    content: 'Remove'
}
.fa-edit:hover{
cursor: pointer;
}

.fa-edit:hover::after {
    content: 'edit'
}


.fa-trash:hover::after {
    content: 'Delete'
}

